/* 
font-family: 'Butterfly Kids', cursive;
font-family: 'Mukta', sans-serif;
*/

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  
  .icon-bubbles {
    width: 1.125em;
  }
  


/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  

:root{
    --primColor: #ec8da1;
    --secColor: #ef7493;
    --divideColor: #f9e2e8;
    --backgroundColor: #f4f4f6;
    --topBotColor: #26292e;
    --font: 'Mukta', sans-serif;
}

*{box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.inner{
    margin: 0 auto;
    width: 960px;
}

/* header */

.header{
    background-color: var(--topBotColor);
    padding: 10px 0;
}

.logo{
    font-family: 'Butterfly Kids', cursive;
    text-transform: capitalize;
    color: #f5f5f7;
    font-weight: 100;
}

.top-nav{
    float: right;
}

.nav-socials{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding-top: 5px;
    margin-top: 3px;
}

.nav-item{
    display: inline;
    background-color: #fafaf8;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.logo {
    display: inline;
}

/* close header */

/* main */

.main{
    font-family: var(--font);
}

.img-fluid{
    width: 100%;
}

.sec1-image{
    width: 50%;
    margin-top: 25px;
}

.sec1-content{
    width: 45%;
    margin-right: 20px;
}

h2.section-header {
    font-size: 28px;
}

.sec1-text{
    font-size: 12px;
}

.sec1-btn{
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    font-family: var(--font);
    background-color: black;
    text-transform: capitalize;
    margin-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.sec1-content, .sec1-image{
    float: left;
}

.sec1-inner{
    margin-top: 10px;
    margin-bottom: 10px;
}

.section1{
    border: #ec8da1 solid 2px;
    color: #fff;
    background: radial-gradient(circle at top center, var(--primColor), var(--secColor));
}

.section2{
    background-color: var(--backgroundColor);
    border: 2px solid var(--backgroundColor);
}

.divide{
    width: 100%;
    height: 8px;
    background-color: var(--divideColor);
}

.sec2-div{
    float: left;
    width: calc(100% / 3);
    padding-bottom: 50px;
}


.sec2-text{
    color: gray;
    font-size: 12px;
}

.product-section {
    width: 67%;
    float: left;
}

.products{
}

.icon-search{
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 35px;
}

.product-div{
    width: 40%;
    background-color: black;
    border: gray solid 8px;
    height: 150px;
    box-shadow: rgb(74, 69, 69), 10px;
    float: left;
    margin-bottom: 30px;

}

#pd1, #pd3{
    margin-right: 30px;
}

.testimony-section{
    width: 33%;
    float: left;
}

.section3{
}

.quote{
    color: gray;
    font-size: 14px;
}

.quoter{
    color: black;
}

/* close main */

/* footer */

.footer{
    background-color: var(--topBotColor);
    border: 1px solid var(--topBotColor);
    height: 75px;
    padding-top: 20px;
}

.colophon{
    color: white;
    font-family: var(--font);
    text-transform: capitalize;
    display: inline;
}

.bottom-nav{
    float: right;
}

/* close footer */

.clear {
    clear: both;
}